*{
    margin: 0;
    padding: 0;
     
}
*::before{
   
    left: 0px;
    bottom: 0px;
    
}

/* css variable */
:root{
    --navbar-height :59px;
}
#navebar{
    display: flex;
    align-items: center;
    position: absolute;
    /* position: relative; */
    /* top: 0px; */
}
#navebar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
    top: 0px;
    left: 0px;
}
#logo{
margin:10px 34px ;
}
#logo img{
height:45px ;
margin:3x 6px;
}
 #navebar ul{
    display: flex;
    font-family: "Merriweather", serif;
    
}

#navebar ul li{
    list-style: none;
    font-size: 1.3rem;
    
}
#navebar ul li a{
  display: block;
  padding: 3px 22px ;
  border-radius:20px;
    text-decoration: none;
    color: white;
}
#navebar ul li a:hover{
    color: black;
    background-color: white;
}




/* Home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 578px;
    justify-content: center;
    align-items: center;
    /* background:url('../pic1.jpg') no-repeat center center/cover;
    background-size: cover; */


}
#home ::before{
    content: "";
    position: absolute;
    background:url('../pic1.jpg') no-repeat center center/cover;
top: 0px;
left: 0px;
    height: 642px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}
#home h1{
    color: white;
    text-align: center;
    font-family: "Bree Serif", serif;
    font-size: 50px;
}
#home p{
    color: white;
    text-align: center;
    font-family: "Bree Serif", serif;
    font-size: 20px;
}
.h-primary{
    font-size:2.8rem;
    padding: 12px;
    padding-top: 68px;
    display: flex;
    justify-content: center;
    font-family: "Bree Serif", serif;
}
.h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: "Bree Serif", serif;
}
.btn{
    padding: 6px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}



/* .center{

} */
/* services section  */
#services{
    margin: 34px;
    display: flex;
    left: 0px;
}
#services .box{
 border: 2px solid brown;
 /* display: flex;
 flex-direction: column;
 justify-content: center; */
padding: 34px;
margin: 3px 6px;
border-radius: 28px;
background:#f2f2f2 ;
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;

}
#services .box p{
    font-family: "Bree Serif", serif;
}


/* clints section  */
#clint-section{
/* height: 344px; */
position: relative;
/* left: 0px; */
}
#clint-section::before{
    content: "";
    position:absolute;
    background: url('https://cdn.pixabay.com/photo/2020/03/16/12/46/food-4936949_1280.jpg')no-repeat center center/cover;
    /* background-size:cover ; */
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.6;
}
#clints{
    display: flex;
    justify-content: center;
    align-items:center ;
}
.clint-item{
    padding: 34px;
   
}


/* content section  */
#contact{
    position: relative;
    background-image: url('../dddddd.jpg');
background-size: cover;
/* padding: 10px; */
margin-top: 20px;
}
#contact ::before{
    content: "";
    position: absolute;
width: 100%;
height: 100%;
z-index: -1;
/* bottom: 0px; */
opacity: 0.7;
/* left: 0px; */
 /* background: url('../dddddd.jpg') no-repeat center center/cover ;
background-size: cover;  */

}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;

}
#contact-box input ,#contact-box textarea{
    width: 100%;
    padding: 00.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}
#contact-box from{
    width: 40%;
}
#contact-box leble{
    font-size: 1.3rem;
    font-family: "Bree Serif", serif;
}
img{
    border-radius: 30px;
    
}


footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
   
}
footer ::before{
    bottom: 0px;
}
